.recordSet_container {
  max-width: 100%;
  display: flex;
  padding: 10pt;
  flex-direction: column;

  .content-container {
    padding: 0 5pt;
    margin-top: var(--overlay-grip-height);
    box-sizing: border-box;
  }

  .recordSet_filters {
    overflow-x: auto;
  }
}

.recordSet_header {
  height: 5vh;
  width: 100%;
  top: 0;
  background-color: #333;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stickyHeader {
  position: sticky;
  top: calc(var(--overlay-grip-height) - 1px);
  background-color: white;
  z-index: 9999;
}

.excelExporter {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px 0;

  .accordionDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    & > * {
      margin: 2pt;
    }
  }
}

.recordSet_header_name {
  display: flex;
  padding-left: 2vw;
  font-size: large;
  font-weight: bold;
  width: auto;
}

.recordSet_filter_buttons_container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  & > * {
    margin: 0 5pt;
  }

  & > *:last-of-type {
    margin-left: auto;
  }
}

.deleteButton {
  cursor: pointer;
}

.filter-table-cont {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
}

.recordSetFilterTable {
  border-collapse: collapse;
  width: 100%;

  tbody,
  thead {
    th,
    td {
      text-align: left;
    }

    tr,
    td {
      height: 40px;
    }
  }
}

.filterSelect,
.filterTypeSelect {
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  background-color: #efefef;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}

.recordSet_footer {
  flex-direction: row;
  justify-content: center;
  color: white;
  bottom: var(--footer-bar-height);
  height: var(--record-table-footer-height);
  width: 100%;
  background-color: #036;
  align-items: center;
  display: flex;
  position: fixed;

  & > * {
    display: flex;
    flex-direction: column;
  }
}
