div.connectivityError {
  font-size: 1.5rem;
  margin: 4rem 2em;
}

div.errorHandler {
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #fff;
  font-size: 14pt;
  span {
    color: #f44336;
  }
}

div.errorHandler .detail {
  text-align: left;
  font-family: 'Courier New', monospace;
  border: 1px solid #bbb;
  background: #ddd;
  border-radius: 8px;
  padding: 0.75rem;
  box-shadow: #444 6px 6px;
  max-height: 425px;
  overflow-y: auto;
  white-space: pre-wrap;
}

div.errorHandler .controls {
  display: flex;
  align-items: center;
  justify-content: right;
}

@media screen and (min-width: 600px) {
  div.errorHandler {
    margin: 4rem 2em;
  }
}
