#record-table-popover-content {
  display: flex;
  flex-direction: column;
  width: 250pt;
  max-width: 100%;
  background-color: var(--bc-blue);
  color: white;
  text-align: center;
  button {
    border-radius: 0;
    height: 40pt;
  }
}
