.overlay-header {
  height: var(--overlay-grip-height);
  width: 100%;
  top: -1px;
  position: sticky;
  background-color: #036;
  z-index: 99999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .overlay-menu {
    color: black;
    background-color: white;
    border-radius: 2px;
    border: 1px solid darkgrey;
    height: 100%;
    vertical-align: baseline;
  }

  .left {
    height: var(--overlay-grip-height);
    width: 30%;
  }

  .center {
    height: var(--overlay-grip-height);

    /* flex-grow: 1; */
    place-items: center center;
    justify-content: center;
    display: flex;
    flex-direction: row;

    .overlay-control {
      color: black;
      background-color: white;
      border-radius: 2px;
      border: 1px solid darkgrey;
      height: 100%;
      vertical-align: baseline;
    }

    .dragMeToResize {
      height: 100%;
      width: 50px;
    }
  }

  .right {
    width: 30%;
    justify-content: right;
    display: flex;
    flex-direction: row;
    height: var(--overlay-grip-height);
  }
}
