#overlaydiv {
  cursor: pointer;
}

.overlayMenuResizeButtons {
  display: flex;
  flex-direction: row;
}

.map__overlay {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 400;
  transition: all 0.002s ease-in-out 0.002s;
  height: 0;

  &.map__overlay--show {
    height: calc(var(--overlay-height));
    overflow-y: auto;
  }

  &.map__overlay--show-fullscreen {
    top: 0;
    height: auto;
    overflow-y: visible;
  }
}

.mapOverlayContents {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  /* /scroll-behavior: ; */
}
