.alertsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 50000000;
  top: 9%;
  right: 4%;
}

.alertsContainerAlert {
  width: 375px;
  text-align: left;
  align-items: center;
  margin: 2pt;
}
