.contained {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
.contained label {
  font-family: 'Comic Sans MS';
  padding-right: 1rem;
  text-transform: capitalize;
  &::after {
    content: ':';
  }
}
.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-viewer {
  padding: 15pt;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 850px;
  background-color: #66996650;
}
.group-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  border: 1pt solid black;
  padding: 5px;
  margin-bottom: 5pt;
}
.spacer {
  width: 100pt;
}
fieldset {
  font-family: 'Comic Sans MS';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-wrap: wrap;
  word-break: break-all;
  width: 100%;
  justify-content: space-between;
  legend {
    text-transform: capitalize;
  }
  &.small {
    width: 46% !important;
    overflow: hidden;
  }
}
