#lp-offline-maps {
  background-color: var(--bg);
  text-align: left;
  padding: 0pt 5pt 10pt 5pt;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  h3 {
    font-size: 14pt;
    margin-left: 8pt;
  }
  h3:first-child {
    margin-top: 0;
  }
}

#lp-offline-maps .lp-offline-maps-empty-collection {
  border: 1pt solid lightgray;
  border-radius: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  p {
    font-size: 12pt;
    font-weight: normal;
  }
}
#lp-offline-maps ul {
  max-height: 265pt;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--list-option);
  border-radius: 8pt;
  overflow-y: auto;
  scrollbar-width: none;

  &:hover,
  *:hover {
    scrollbar-width: thin;
  }
}

#lp-offline-maps .lp-offline-map-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 5pt;
  button {
    margin-right: 1rem;
    border: none;
    border-radius: 4pt;
    height: 35px;
    width: 35px;
    background-color: transparent;
    transition: 0.5s background-color;
  }
  button:hover {
    background-color: var(--focus);
    cursor: pointer;
  }
  p {
    margin: 0;
    text-wrap: wrap;
  }
}

.lp-offline-map-option > hr {
  width: 89%;
  color: var(--bg);
  background-color: var(--bg);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  height: 1px;
  border: none;
}
