#layerPickerElement {
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
  max-width: 525px;
  text-wrap: wrap;
  box-sizing: border-box;
}

.layerPickerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
