.userTrackingMarker {
  display: block;
  border: none;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-image: conic-gradient(
    #00b0ff20 0deg,
    #00b0ff95 60deg,
    transparent 60deg,
    transparent 300deg,
    #00b0ff95 300deg,
    #00b0ff20 360deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    height: 32px;
    width: 32px;
    filter: drop-shadow(1px 1px 1px black);
  }
}

.whatsHereMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.IAPPMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.activityMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

#layerPickerElement {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: justify;
  top: 0;
  right: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.MuiLayerPickerIconButton {
  color: black;
  margin: auto;
}

.layerPickerOpen {
  width: 500px;
  height: auto;
  background-color: white;
  z-index: 999;
  padding-bottom: 10px;
  border-style: solid;
  border-width: medium;
}

.layerPickerClosed {
  width: 50px;
  height: 50px;
  border-style: none;
}

#layerPickerToggleOpen {
  top: 0;
  display: flex;
  right: 0;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  position: absolute;
}

.layerPickerLayer {
}

.layerPickerCategoryHeader {
  font-weight: 900;
}

.layerpickercustomizeMenu {
  height: 50px;
  width: auto;
}

#LoadingMap {
}

.loadingMap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  color: 'black';
  top: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(255 255 255 / 50%);
  z-index: 999;
}

.maplibregl-ctrl-group > button {
  height: 30pt;
  width: 30pt;
}

.loadedMap {
  display: none;
}

.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-canvas-container.maplibregl-interactive:active {
  cursor: crosshair;
}

:root:has(#map-btn-container, #overlaydiv.map__overlay--show) {
  .maplibregl-ctrl-bottom-right {
    bottom: calc(var(--overlay-height) + var(--overlay-grip-height));
    transition: bottom 0.1s ease 0.3s;
  }

  .maplibregl-ctrl-bottom-left {
    bottom: calc(var(--overlay-height) + var(--overlay-grip-height));
    transition: bottom 0.1s ease 0.3s;
  }
}

:root:has(#map-btn-container):not(:has(#overlaydiv.map__overlay--show)) {
  .maplibregl-ctrl-bottom-right {
    bottom: 4px;
    transition: bottom 0.1s ease 0.3s;
  }

  .maplibregl-ctrl-bottom-left {
    bottom: 4px;
    transition: bottom 0.1s ease 0.3s;
  }
}
