.userTrackingMarker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.whatsHereMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.IAPPMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.activityMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

#layerPickerElement {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: justify;
  top: 0;
  right: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.MuiLayerPickerIconButton {
  color: black;
  margin: auto;
}

.layerPickerOpen {
  width: 500px;
  height: auto;
  background-color: white;
  z-index: 999;
  padding-bottom: 10px;
  border-style: solid;
  border-width: medium;
}

.layerPickerClosed {
  width: 50px;
  height: 50px;
  border-style: none;
}

#layerPickerToggleOpen {
  top: 0;
  display: flex;
  right: 0;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  position: absolute;
}

.layerPickerLayer {
}

.layerPickerCategoryHeader {
  font-weight: 900;
}

.layerpickercustomizeMenu {
  height: 50px;
  width: auto;
}

#LoadingMap {
}

.loadingMap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  color: 'black';
  top: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(255 255 255 / 50%);
  z-index: 999;
}

.loadedMap {
  display: none;
}

.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-canvas-container.maplibregl-interactive:active {
  cursor: crosshair;
}

.maplibregl-ctrl-bottom-right {
  bottom: 4px;
}

.maplibregl-ctrl-bottom-left {
  bottom: 4px;
}
