.map-features-at-point {
  z-index: 3; /* Position over map buttons and under overlay pane*/
  .maplibregl-popup-close-button {
    color: white;
    font-size: 14pt;
    &:focus {
      outline: none;
    }
  }
  .maplibregl-popup-tip {
    display: none; /* Don't display popup tail. */
  }

  /* override default popup content settings */
  .maplibregl-popup-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
  }

  .title {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    border-bottom: 2pt solid var(--bc-yellow);
    text-align: left;
    padding: 0 0.75rem 0 0.5rem;
    background-color: var(--popover-list-bg-color);
  }

  .content {
    table {
      box-sizing: border-box;
      width: 100%;
      max-width: 375px; /* Set max-size so large sets of map-Symbols will be forced to collapse */
      border-bottom: 1pt solid #dedede;
      border-collapse: collapse;
      thead tr {
        height: 35px;
      }
      /* Apply padding to first cell in each row */
      th:first-of-type,
      td:first-of-type {
        padding-left: 8px;
      }
      /* And to last header cell */
      thead tr th:last-child {
        padding-right: 8pt;
        box-sizing: border-box;
      }

      /* Align all Cells text to left */
      thead tr th,
      tbody tr td {
        text-align: left;
      }
      tr {
        font-size: 0.85rem;
      }
      /* Style for First Cell per row (Type) */
      tbody tr td:nth-child(1) {
        font-size: 0.95rem;
        font-weight: 500;
      }

      /* Align IconButtons to Right, maximize space */
      tbody tr td:last-child {
        text-align: right;
      }

      tbody tr {
        height: 40px;
        /* Alternate Background colours */
        background-color: var(--even-list-item-bg-color);
        &:nth-of-type(even) {
          background-color: var(--odd-list-item-bg-color);
        }
        &:hover {
          background-color: var(--hovered-list-item-bg-color);
        }
      }
    }
  }
  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
  }
}
