.userTrackingMarker {
  border: none;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    height: 32px;
    width: 32px;
    filter: drop-shadow(1px 1px 1px black);
  }
}

#draw-mode-display {
  margin-top: 18px;
}

.userTrackingMarkerCone {
  background-image: conic-gradient(
    #00b0ff20 0deg,
    #00b0ff95 60deg,
    transparent 60deg,
    transparent 300deg,
    #00b0ff95 300deg,
    #00b0ff20 360deg
  );
}

.activityMarkerEl img,
.IAPPMarkerEl img {
  height: 32px;
  width: 32px;
  border-radius: 45%;
}

.map-marker-popup {
  .maplibregl-popup-content {
    background-color: var(--bc-blue);
    color: white;
    padding: 0;
    height: auto;
    border-radius: 4px;
    overflow: hidden;

    p {
      font-size: 1rem;
      margin: 10pt;

      span {
        font-weight: 500;
      }
    }

    button {
      width: 100%;
      height: 35px;
      background-color: var(--blue-primary);
      color: white;
      font-size: 0.875rem;
      padding: 5pt;
      border: none;
      text-transform: uppercase;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

.marker-close-button:hover {
  cursor: pointer;
}

.loadingMap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  color: black;
  top: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(255 255 255 / 50%);
  z-index: 999;
}

.maplibregl-ctrl-group > button {
  height: 30pt;
  width: 30pt;
}

.loadedMap {
  display: none;
}

.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-canvas-container.maplibregl-interactive:active {
  cursor: crosshair;
}

.maplibregl-ctrl-bottom-right {
  bottom: 4px;
  transition: bottom 0.1s ease 0.3s;
}

.maplibregl-ctrl-bottom-left {
  bottom: 4px;
  transition: bottom 0.1s ease 0.3s;
}

.map-containing-block {
  background: #999;
}

.maplibregl-ctrl-group {
  border-radius: 4px 4px 0px 0px;
}
