#styled-modal-outter {
  display: flex;
  z-index: 1000;
  position: fixed;
  background-color: #00000035;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .styled-modal {
    --title-control-height: 45px;

    max-width: 100%;
    background-color: white;
    box-sizing: border-box;

    /* Set Colour Variables depending on Variant Choice */
    &.primary {
      --header-color: var(--bc-blue);
      --header-text-color: white;
      --header-border-color: var(--bc-yellow);
    }

    /* Demonstration of adding new colors until secondary variant available */
    &.secondary {
      --header-color: green;
      --header-text-color: white;
      --header-border-color: red;
    }

    .header {
      min-height: var(--title-control-height);
      background-color: var(--header-color);
      border-bottom: 2pt solid var(--header-border-color);
      color: var(--header-text-color);
      align-items: center;
      display: flex;
      padding-left: 0.5rem;
      font-size: 1.25rem;
      box-sizing: border-box;
      text-transform: capitalize;
    }

    .content {
      display: flex;
      flex-direction: column;
      min-height: 115px;
      max-height: 80vh;
      box-sizing: border-box;
      padding: 0.75rem 0.5rem;
      text-align: left;
      margin: 0;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    .control {
      display: flex;
      box-sizing: border-box;
      min-height: var(--title-control-height);
      padding: 5pt;
      border-top: 1pt solid #cdcdcd;
      justify-content: flex-end;

      button:not(:first-child),
      input[type='button']:not(:first-child) {
        margin-left: 5pt;
      }

      .close-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (width > 550) {
  .styled-modal-outter {
    .styled-modal {
      border-radius: 4px;
    }
  }
}
