.leaflet-draw.leaflet-control {
  transform: scale(1.4) translate(0, 28px);
}

.leaflet-draw.leaflet-control .leaflet-draw-section:nth-child(2) {
  transform: translate(0, -13px);
}

.leaflet-control-layers.leaflet-control {
  transform: translate(-7px, 20px);
}

.leaflet-control-zoom.leaflet-control {
  transform: scale(1.4) translate(0, -5px);
}

.leaflet-control-locate.leaflet-control {
  transform: scale(1.5);
}

.savetiles.leaflet-control {
  transform: scale(1.5) translate(0, 9px);
}

.leaflet-control-locate.leaflet-control .bullseye {
  background-image: url('InvasivesBC_Icon.svg');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  transform: translate(-22px, -16px) scale(0.4);
}
