.leaflet-draw.leaflet-control {
  transform: scale(1.4) translate(3.75px, 80px);
}

/* .leaflet-popup-content-wrapper {
  background-color: transparent;
} */

/* .leaflet-draw.leaflet-control .leaflet-draw-section:nth-child(2) {
  transform: translate(0, -13px);
} */

.greenIconFilter {
  filter: invert(100%);
}

.leaflet-popup-content-wrapper-dark {
  background-color: #333;
  border-radius: 10px;
}

.leaflet-popup-content-wrapper-light {
  background-color: #ffff;
  border-radius: 10px;
}
