
.leaflet-draw.leaflet-control {
  transform: scale(1.5) translate(-5px,40px);
}

.leaflet-control-layers.leaflet-control {
  transform: translate(0, 120px);
}

.leaflet-control-zoom.leaflet-control {
  transform: scale(1.5) translate(-5px, -5px);
}

.leaflet-control-locate.leaflet-control {
  transform: scale(1.2) translate(5px, 5px);
}
.leaflet-control-locate.leaflet-control .bullseye {
  background-image: url('/assets/icon/location-button.svg');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  transform: translate(-22px,-16px) scale(0.4);
}