#lp-layers {
  background-color: var(--bg);
  text-align: left;
  padding: 0pt 5pt 10pt 5pt;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  h3 {
    font-size: 16pt;
    margin-left: 8pt;
  }
  h3:first-child {
    margin-top: 0;
  }
}

#lp-layers .lp-layers-empty-collection {
  border: 1pt solid lightgray;
  border-radius: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  p {
    font-size: 12pt;
    font-weight: normal;
  }
}
#lp-layers ul {
  max-height: 265pt;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--list-option);
  border-radius: 8pt;
  overflow-y: auto;
  scrollbar-width: none;

  &:hover,
  *:hover {
    scrollbar-width: thin;
  }
}

#lp-layers .lp-layers-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 5pt;
  &:nth-child(odd) {
    background-color: var(--list-option);
  }
  button {
    margin-right: 1rem;
    border: none;
    border-radius: 4pt;
    height: 35px;
    width: 35px;
    background-color: transparent;
    transition: 0.5s background-color;
  }
  button:hover {
    background-color: var(--focus);
    cursor: pointer;
  }
  p {
    margin: 0;
  }
}
#lp-layers .control {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: flex-end;
}
.create-custom-layers {
  border: 1pt solid var(--bc-blue);
  padding: 5pt 10pt;
  display: flex;
  align-items: center;
  font-size: 14pt;
  color: var(--bc-blue);
  background-color: white;
  border-radius: 10pt;
  transition: 0.5s background-color;
  &:hover {
    cursor: pointer;
    background-color: var(--focus);
  }
}
