@media only screen and (width <= 800px) {
  #appTitle {
    display: none;
  }
}

@media only screen and (width >= 801px) {
  #appTitle {
    font-weight: bold;
    padding-left: 5px;
  }
}

#menu-appbar {
  z-index: 9999999999;
}

.HeaderBar {
  height: var(--header-bar-height);
  cursor: pointer;
  width: 100%;
  background-color: #036;
  position: relative;
  z-index: 2147483646;
  color: white;
  align-items: center;
}

.ButtonWrapperContainer {
  width: 55%;
  height: var(--header-bar-height);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

#ButtonWrapper {
  width: 100%;
  height: var(--header-bar-height);
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#right-icon-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255 255 255 / 50%);
  border-radius: 5px;
  pointer-events: none;
  visibility: hidden;
}

#left-icon-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255 255 255 / 50%);
  border-radius: 5px;
  pointer-events: none;
  visibility: hidden;
}

.direction-icon {
  color: black;
}

.Tab {
  display: flex;

  /* flex-direction: row;
    flex-flow: row wrap; */
  align-items: center;
  padding-right: 0.5rem;
}

.Tab__Label {
  /*    padding-top: 5px; */

  /* align-self: flex-start; */
  font-size: small;
}

.Tab__Content {
  /* align-self: flex-start */
}

.Tab__Indicator {
  border-bottom-style: solid;
  border-width: 0.5vh;
  border-color: #fcba19;
}

.network-state-control {
  display: flex;
  align-items: center;
  height: 100%;
}

.inv-icon {
  display: flex;
  position: absolute;
  left: 10px;
  align-items: center;
  height: var(--header-bar-height);
}

#InvBcLogo {
  box-sizing: border-box;
  object-fit: 'contain';
  background-color: white;
  border-radius: 5px;
  padding: 5;
  height: calc(var(--header-bar-height) - 20px);
}
.avatar-menu {
  display: flex;
  position: absolute;
  right: 10px;
  align-items: center;
  height: var(--header-bar-height);
}

div.network-status-display {
  height: 100%;
  padding: 0;
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: end;

  svg {
    flex-grow: 1;
    vertical-align: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  span.network-status-label {
    display: block;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
  }
}
