#appTitle {
  display: none;
}
.HeaderBar {
  overflow: hidden;
  height: var(--header-bar-height);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bc-blue);
  justify-content: space-between;
  display: flex;
  padding: 0 5pt;
  box-sizing: border-box;
  color: white;
  align-items: center;
}

.inv-icon {
  display: flex;
  align-items: center;
  padding: 5pt 0;
  box-sizing: border-box;
  margin-right: 1rem;
  height: var(--header-bar-height);
}

#InvBcLogo {
  box-sizing: border-box;
  object-fit: 'contain';
  background-color: white;
  border-radius: 5px;
  height: 100%;
}

.avatar-menu {
  display: flex;
  padding: 5pt 0;
  height: 100%;
  margin-left: 1rem;
  box-sizing: border-box;
  button {
    padding: 0;
  }
}
/* Button Container */
.ButtonWrapperContainer {
  height: 100%;
  width: 100%;
  max-width: 700pt;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-inline: auto;
  /* Button Section */
  #ButtonWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    & > * {
      margin-right: 5pt;
      padding: 0;
    }
  }

  #right-icon-container,
  #left-icon-container {
    background-color: rgb(255 255 255 / 50%);
    border-radius: 5px;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    align-items: center;
  }
}
.direction-icon {
  color: black;
}

.Tab {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.Tab__Label {
  font-size: small;
}

.Tab__Indicator {
  border-bottom: 3pt solid var(--bc-yellow);
}
.network-state-control {
  display: flex;
  flex-direction: row;
}

.network-status-display {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: small;
  span {
    font-size: small;
  }
}

@media only screen and (width >= 801px) {
  #appTitle {
    display: block;
    font-weight: bold;
    padding-left: 5px;
  }
}
