node_modules

package-lock.json

dist
build
coverage

openshift
sonar-runner
uploads

.vscode

**/vendor

*.html

app/src/rjsf/uiSchema/UISchemaComponents.ts
app/src/rjsf/uiSchema/RootUISchemas.ts
app/src/rjsf/uiSchema/BaseUISchemaComponents.ts