.field-array {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;

  .field-array-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 10px;

    & > * {
      margin-right: auto;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }

  .add-entry {
    background-color: #036;
    color: white;
    border: none;
    border-radius: none;
    height: var(--form-input-height);
    font-size: 1rem;
    margin-top: auto;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      background-color: #aaa;
      color: #111;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 49%;
  }

  &.third-width {
    width: 32%;
  }

  &.quarter-width {
    width: 24%;
  }
}

@media screen and (width < 650px) {
  .field-array {
    &.third-width,
    &.quarter-width {
      width: 49%;
    }
  }
}

@media screen and (width < 450px) {
  .field-array {
    &.half-width,
    &.third-width,
    &.quarter-width {
      width: 100%;
    }
  }
}
