.field-array {
  display: flex;
  flex-direction: column;
  height: 100%;

  .add-entry {
    background-color: #036;
    color: white;
    border: none;
    border-radius: none;
    height: var(--form-input-height);
    font-size: 1rem;
    margin-top: auto;
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }

  &.third-width {
    width: 33%;
  }

  &.quarter-width {
    width: 25%;
  }
}
