.form-textarea-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  min-height: 137px;
  box-sizing: border-box;

  div {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    font-size: var(--form-input-font-size);
  }

  textarea {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    font-size: var(--form-input-font-size);
  }

  label {
    font-size: var(--form-input-label-font-size);
    margin-right: 0.5rem;
    font-weight: 600;

    & > * {
      margin-left: 3px;
    }

    &::after {
      content: ':';
    }
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 49%;
  }

  &.third-width {
    width: 32%;
  }

  &.quarter-width {
    width: 24%;
  }
}
