.form-textarea-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  min-height: 137px;
  box-sizing: border-box;

  div {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--form-input-font-size);
  }

  textarea {
    appearance: none; /* Prevent iOS Style overriding */
    border: 1pt solid var(--ui-border-light);
    font-family: BCSans, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    font-size: var(--form-input-font-size);
  }

  .top {
    display: flex;
    width: 100%;
  }

  label {
    height: 25px;
    font-size: var(--form-input-label-font-size);
    font-weight: 600;
    margin-right: auto;

    &::after {
      content: ':';
    }
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 49%;
  }

  &.third-width {
    width: 32%;
  }

  &.quarter-width {
    width: 24%;
  }
}

@media screen and (width < 650px) {
  .form-textarea-input {
    &.third-width,
    &.quarter-width {
      width: 49%;
    }
  }
}

@media screen and (width < 450px) {
  .form-textarea-input {
    &.half-width,
    &.third-width,
    &.quarter-width {
      width: 100%;
    }
  }
}
