.offline-data-sync-dialog {
  .content {
    padding: 1rem 10pt;
  }

  .content {
    .dialog-table {
      height: auto;
      margin: 10pt;
      max-height: 375px;
      overflow: auto;

      .offline-data-sync-table {
        border-collapse: collapse;

        th {
          background-color: white;
          position: sticky;
          text-align: left;
          top: 0;
          z-index: 2;
        }

        tbody > tr:nth-child(odd):not(:hover) {
          background-color: #eee;
        }
        tbody tr td {
          vertical-align: top;
          font-size: 0.95rem;
          &:first-child {
            padding-left: 8px;
          }
        }
        tbody tr .modified-time {
          font-weight: 600;
          font-size: 0.85rem;
        }
        tbody tr .record-type {
          font-size: 0.85rem;
        }
        tbody > tr > td:last-child {
          text-align: right;
        }

        tbody > tr:hover {
          background-color: #c9f2ef95;
        }
      }
    }
    .progress-bar {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .popover-menu {
      display: flex;
      flex-direction: column;
      color: white;
      background-color: var(--bc-blue);
      text-align: center;
      button {
        height: 50px;
        width: 100%;
        border-radius: 0;
        width: 200pt;
      }
    }
    .status-info {
      margin: 1rem;
      p {
        font-size: 1rem;
        margin: 0 0 8px 0;
        span {
          font-size: 0.9rem;
        }
      }
    }
  }

  .control {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 10pt;
    position: relative;
    width: 100%;
  }
}

@media screen and (width < 600px) {
  .offline-data-sync-dialog {
    .content .dialog-table {
      margin: 0;
    }
  }
}
