.form-fieldset,
.form-small-fieldset {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  justify-content: flex-start;
  text-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 10px;
  align-items: stretch;

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }

  &.third-width {
    width: 33%;
  }

  &.quarter-width {
    width: 25%;
  }
}

.form-small-fieldset {
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
}

.form-fieldset {
  justify-content: row;
  width: 100%;
}

@media only screen and (width < 820px) {
  .form-fieldset,
  .form-small-fieldset {
    width: 100%;
  }
}
