.whatshere-container {
  width: 100%;
  background-color: var(--bc-blue);
  color: white !important;

  button {
    color: white;
  }
}
.whatshere-margin {
  margin: 5pt;
}

.whatshere-table {
  width: 100%;
  height: 100%;
}

.whatshere-position {
  height: 450px;
}
.whatshere-margin {
  width: 5pt 0;
}
.whatshere-table-container {
  margin: 0 1rem;
  padding-bottom: 3rem;
  background-color: white;
}

.whatshere_back_button {
  margin-right: 0;
  position: absolute;
}

.whatshere-header {
  background-color: #003366;
  color: white;
  display: flex;
  align-items: center;
}
