.whatshere-container {
  width: 100%;
  background-color: #003366;
  color: white !important;

  button {
    background-color: #003366;
    color: white;
  }

  [class*='Mui-selected'] {
    background-color: #003366 !important;
    color: white !important;
    border-bottom-color: #fcba19 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 6px;
  }
}

.whatshere-table {
  width: 100%;
  height: 100%;
}

.whatshere-position {
  height: 450px;
}

.whatshere-table-container {
  margin: 0 1rem;
  padding-bottom: 3rem;
  background-color: white;
}
.whatshere_back_button {
  margin-right: 0;
  position: absolute;
}

.whatshere-header {
  background-color: #003366;
  color: white;

  display: flex;
  align-items: center;
}
