.ruler-control {
  background-color: color-mix(in srgb, #fff 80%, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;

  &.active {
    background-color: color-mix(in srgb, var(--bc-yellow) 80%, transparent);
  }

  &:hover {
    cursor: pointer;
  }
}
