#loading-bar-main {
  position: absolute;
  z-index: 0;
  top: 50%;
  background-color: #efefef;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 1pt solid black;
  color: white;
  background-color: #003366;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  max-width: 300px;
  align-items: center;

  p {
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
  }

  .bar {
    display: flex;
    height: 25px;
    width: 211px;
    border: 1pt solid white;
    align-items: center;
    & > * {
      margin-left: 1px;
    }
  }
  .progress {
    display: flex;
    height: 18px;
    width: 10px;
    background-color: #fcba19;
  }
}
