#map-display-composite {
  position: absolute;
  top: 10px;
  left: 60px;
  display: flex;
  flex-direction: column;
  width: 194px;
  box-sizing: border-box;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}
