.form-multi-select-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;

  .select-input {
    width: 100%;
    margin-right: 1rem;
    text-align: left;
    font-size: var(--form-input-font-size);
  }

  label {
    font-size: var(--form-input-label-font-size);
    margin-right: 0.5rem;
    font-weight: 600;

    & > * {
      margin-left: 3px;
    }

    &::after {
      content: ':';
    }
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 49%;
  }

  &.third-width {
    width: 32%;
  }

  &.quarter-width {
    width: 24%;
  }
}
