.form-multi-select-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;

  .top {
    display: flex;
    width: 100%;
  }

  label {
    height: 25px;
    font-size: var(--form-input-label-font-size);
    font-weight: 600;
    margin-right: auto;

    &::after {
      content: ':';
    }
  }

  .select-input {
    width: 100%;
    margin-right: 1rem;
    text-align: left;
    font-size: var(--form-input-font-size);
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 49%;
  }

  &.third-width {
    width: 32%;
  }

  &.quarter-width {
    width: 24%;
  }
}
