.no-records {
  border-radius: 10pt;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    width: 100%;
    max-width: 375pt;
    padding: 1em;
    border: 1pt solid black;
    border-radius: 10pt;
    box-sizing: content-box;
  }
}
