.recordSet_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--record-table-footer-height);
  .content-container {
    padding: 0 5pt;
    margin-top: var(--overlay-grip-height);
    box-sizing: border-box;
  }
}

.recordSet_header {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  top: 0;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  min-height: 45px;
  max-height: 80px;
  justify-content: flex-start;
  border-bottom: 1px solid black;

  .recordset-cache-control {
    margin-left: auto;
    margin-right: 5pt;
  }
}

.stickyHeader {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;
}

.excelExporter {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px 0;

  .accordionDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    & > * {
      margin: 2pt;
    }
  }
}

.recordSet_header_name {
  display: flex;
  padding-left: 2vw;
  font-size: large;
  font-weight: bold;
  text-wrap: wrap;
  width: auto;
}

.recordSet_footer {
  background-color: #036;
  height: var(--record-table-footer-height);
  flex-direction: row;
  justify-content: center;
  color: white;
  display: flex;

  & > * {
    display: flex;
    flex-direction: column;
  }
}

#app.overlay-layout {
  .recordSet_footer {
    bottom: max(var(--extra-bottom-padding), calc(var(--footer-bar-height) + env(safe-area-inset-bottom, 0)));
    width: 100%;
    position: fixed;
  }
}
