.training {
  div.trainingVideo {
    border-radius: 8px;
    box-shadow: #eeeeee 3px 3px 4px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px
  }
  video {
    display: block;
    padding: 0;
    margin: 0;
  }
  label {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
}

.trainingDark {
  color:#ffffff;
  div.trainingVideo {
    box-shadow: #000000 3px 3px 4px;
    background-color: #1e1e1e;
  }
}