#nav-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: var(--header-bar-height);
  justify-content: space-between;
  padding: 0 3px;
  margin-top: env(safe-area-inset-top, 0);
  width: 100%;
  .invasives-bc-logo {
    height: calc(var(--header-bar-height) - 5pt);
  }
}

/* Styling for Navigation Tabs */
#nav-header nav {
  align-items: flex-end;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
  max-width: 500px;
  .offlineSyncButton svg {
    display: flex;
    height: 100%;
  }
  & > * {
    display: flex;
    flex-direction: row;
  }
}

#nav-header .Tab {
  display: flex;
  margin-top: 2pt;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  max-height: var(--header-bar-height);
  .Tab__Content svg,
  .Tab__Content img {
    display: flex;
    height: calc(var(--header-bar-height) / 2);
    object-fit: contain;
  }
  .Tab__Label {
    font-size: 12px;
  }
  /* Ensure consistent dimensions to the Golden 'active' border*/
  &:not(.Tab__Indicator) {
    border-bottom: 2px solid var(--bc-blue);
  }
}
.Tab__Indicator {
  border-bottom-width: 2px !important;
}
.hamburger-nav {
  display: flex;
  flex-direction: column;

  width: 100%;
  .network-section {
    display: flex;
    width: 100%;
    justify-content: center;
    /* https://www2.gov.bc.ca/gov/content/digital/design-system/foundations/colour#palettes */
    background-color: #1e5189;
    border-bottom: 2pt solid var(--bc-yellow);
    color: white;
    box-sizing: border-box;
    padding: 0 10pt;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      /* iOS User Agent forces to list-item and it doubles the height of the container. Explicit opt-out*/
      display: block;
    }
    li:nth-child(even) {
      background-color: #eceae8;
    }
    li:nth-child(odd) {
      background-color: #fff;
    }
    li > button {
      background-color: transparent;
      padding: 5pt;
      display: flex;
      height: 100%;
      color: black;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-start;
      border: none;
      border-radius: 0;
      height: 30pt;
      width: 100%;

      img:first-child,
      svg:first-child {
        color: #053662;
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
        background-color: #d1cfcd;
      }
    }
    li > a > svg,
    li > a > img {
      margin-right: 10pt;
    }
  }
}

@media screen and (width >= 500px) {
  #nav-header .Tab .Tab__Label {
    font-size: 1rem;
  }
}
