#newsPageContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

#newsPageHeader {
  font-size: 3rem;
  padding-top: 5rem;
}

#newsPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50pt;
}

#newsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsPageSeeMore {
  width: 120pt;
  height: 40pt;
  background-color: var(--bc-blue);
  color: white;
  border-radius: 4pt;
  font-size: 1.2rem;
  border: 1pt solid var(--black);
}

.newsPageSeeMore:hover {
  cursor: pointer;
}

.newsListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 700pt;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.newsListItemTitle {
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.newsIcon {
  display: none;
}

.newsListDate {
  font-size: 0.8rem;
  margin: 0;
}

.newsListItemContent {
  font-size: 1rem;
  text-align: left;
  justify-content: left;
  white-space: pre-wrap;
}

@media only screen and (width > 400px) {
  .newsIcon {
    display: flex;
    width: 100%;
  }
  .newsListItem {
    border: 1px solid black;
  }
}
