.history-wrapper {
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 100%;
}

#activity-history {
  list-style: none;
  background-color: var(--odd-list-item-bg-color);
  box-sizing: border-box;
  max-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-wrap: break-word;
  margin: 1rem 0;
  padding: 0;
}

/* Complete History Object entry */
#activity-history .entry {
  background-color: var(--odd-list-item-bg-color);

  &:nth-of-type(even) {
    background-color: var(--even-list-item-bg-color);
  }
}

#activity-history .entry .details {
  padding: 8px;
}

/* Individual row of a history object, e.g.: Created by, Diffs, etc */
#activity-history .entry .details li {
  padding: 5px;

  .label {
    text-transform: capitalize;
  }
}

#activity-history .entry .details .diff-entry {
  div {
    display: flex;
    flex-direction: column;
  }

  dt {
    text-transform: capitalize;
  }

  dd {
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-left: 1rem;

    &.italic {
      font-style: italic;
      font-size: 0.95rem;
    }
  }

  .strike-through {
    text-decoration: line-through;
  }
}
