.form-ui-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
  min-height: 81px;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;

  .label-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  input[type='checkbox'] {
    height: calc(var(--form-input-height) * 0.75);
    width: calc(var(--form-input-height) * 0.75);
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    font-size: var(--form-input-font-size);

    &:disabled {
      appearance: none;
      border-radius: 4px;
      background-color: #efefef;
      border: 1pt solid lightgray;
    }
  }

  label {
    font-size: var(--form-input-label-font-size);
    margin-right: auto;
    font-weight: 600;

    & > * {
      margin-left: 3px;
    }
  }

  &.warning {
    background-color: var(--warning-orange);
    padding: 1rem;
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 49%;
  }

  &.third-width {
    width: 32%;
  }

  &.quarter-width {
    width: 24%;
  }
}

@media screen and (width < 650px) {
  .form-ui-checkbox {
    &.third-width,
    &.quarter-width {
      width: 49%;
    }
  }
}

@media screen and (width < 450px) {
  .form-ui-checkbox {
    &.half-width,
    &.third-width,
    &.quarter-width {
      width: 100%;
    }
  }
}
