.alerts-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 50000000;
  top: 9%;
  right: 4%;
}

.alerts-container-alert {
  width: calc(max(30vw, min(375px, 90vw)));
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  margin: 2pt;
  opacity: 0.85;
  animation: slide-in 0.35s linear forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 0.85;
  }
}
