@font-face {
  font-family: 'BCSans';
  font-style: normal;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BCSans-Italic';
  font-style: italic;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'BCSans-Bold';
  font-weight: 700;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'BCSans-BoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff') format('woff');
}

body {
  background-color: #003366;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0px;
  /* flex-direction: column;*/
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100svh;
  max-width: 100%;
  overflow: hidden;
}

/* old one */
/*
.Map {
  flex: 1;
}
*/

.MapWrapper {
  position: relative;
  width: 100%;
  height: calc(100svh - 77px); /* calculate height of the screen minus the heading */
}

.Map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay-content {
  width: 100%;
}

.overlay-content-fullscreen {
  /*padding-top: 6rem;*/
}

#app-pre-auth-init {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #003366

}
