@font-face {
  font-family: BCSans;
  font-style: normal;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: BCSans-Italic;
  font-style: italic;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Italic.woff') format('woff');
}

@font-face {
  font-family: BCSans-Bold;
  font-weight: 700;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff') format('woff');
}

@font-face {
  font-family: BCSans-BoldItalic;
  font-style: italic;
  font-weight: 700;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff') format('woff');
}

body {
  background-color: #036;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  box-sizing: border-box;
  padding: max(env(safe-area-inset-top, 0), var(--extra-top-padding)) env(safe-area-inset-right, 0)
    max(env(safe-area-inset-bottom, 0), var(--extra-bottom-padding)) env(safe-area-inset-left, 0);
  overflow: hidden;
  height: 100svh;

  #safe-inset {
    padding: inherit;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  --record-table-footer-height: 2rem;

  /* set by compilation flag */

  &.is-mobile {
    --footer-bar-height: 0px !important;
  }

  &.web {
    --footer-bar-height: 32px;
  }

  &.ios {
    --extra-top-padding: 0px;
    --extra-bottom-padding: 20px;
    --record-table-footer-height: 2.5rem !important;
  }

  &.android {
    height: 100dvh;

    --extra-top-padding: 15px;
    --extra-bottom-padding: 8px;
  }
}

#app-pre-auth-init {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #036;
}

:root {
  --form-container-width: 820px;
  --form-input-height: 2.5rem;
  --form-input-font-size: 1rem;
  --form-input-label-font-size: 0.95rem;
  --form-input-error-font-size: 0.8rem;
  --header-bar-height: 60px;
  --footer-bar-height: 32px;
  --map-button-bar-height: 45px;
  --extra-top-padding: 0px;
  --extra-bottom-padding: 0px;
  --bc-blue: #036;
  --error-red: #f44336;
  --deep-red: #b2102f;
  --success-green: #357a38;
  --warning-orange: #ffc107;
  --bc-yellow: #fcba19;
  --blue-primary: #1976d2;
  --eigengrau: #16161d;
  --popover-list-bg-color: #1e5189;

  /* List Item Colors */
  --even-list-item-bg-color: #eceae8;
  --odd-list-item-bg-color: #fff;
  --hovered-list-item-bg-color: #d1cfcd;
}

/* Color Classes */
.deep-red {
  color: var(--deep-red);
}

.red {
  color: var(--error-red);
}

.green {
  color: var(--success-green);
}

.orange {
  color: var(--warning-orange);
}

@media only screen and (width <= 800px) {
  :root {
    .App {
      &.web,
      &.ios,
      &.android {
        --header-bar-height: 60px;
      }
    }
  }
}

@media only screen and (width >= 801px) and (width <= 1280px) {
  :root {
    .App {
      &.web {
        --header-bar-height: 60px;
      }
    }
  }
}

@media only screen and (width >= 1281px) {
  .App {
    &.web {
      --header-bar-height: 60px;
      --footer-bar-height: 40px;
    }
  }
}
