@font-face {
  font-family: BCSans;
  font-style: normal;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: BCSans-Italic;
  font-style: italic;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Italic.woff') format('woff');
}

@font-face {
  font-family: BCSans-Bold;
  font-weight: 700;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff') format('woff');
}

@font-face {
  font-family: BCSans-BoldItalic;
  font-style: italic;
  font-weight: 700;
  src: url('../../node_modules/@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff') format('woff');
}

body {
  background-color: #036;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  box-sizing: border-box;
  padding: calc(var(--extra-top-padding) + env(safe-area-inset-top, 0)) env(safe-area-inset-right, 0);
  overflow: hidden;
  height: 100svh;

  /* set by compilation flag */

  &.is-mobile {
    --footer-bar-height: 0px !important;
  }

  &.web {
    --footer-bar-height: 32px;
  }

  &.ios {
    --extra-top-padding: 20px;
    --extra-bottom-padding: 20px;
  }

  &.android {
    height: 100dvh;

    --extra-top-padding: 8px;
    --extra-bottom-padding: 8px;
  }
}

.map-containing-block {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100px;
}

.MapWrapper {
  position: absolute;
  inset: 0;

  /* height: calc( */

  /*  100svh - (var(--header-bar-height) + var(--footer-bar-height)) */

  /* ); !* calculate height of the screen minus the heading *! */
}

.Map {
  width: 100%;
  height: 100%;
}

.overlay-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#app-pre-auth-init {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #036;
}

:root {
  --header-bar-height: 60px;
  --footer-bar-height: 32px;
  --map-button-bar-height: 45px;
  --overlay-height: 200px;
  --overlay-grip-height: 25px; /* grab handle */
  --extra-top-padding: 0px;
  --extra-bottom-padding: 0px;
}

@media only screen and (width <= 800px) {
  :root {
    .App {
      &.web {
        --header-bar-height: 40px;
      }
    }
  }
}

@media only screen and (width >= 801px) and (width <= 1280px) {
  :root {
    .App {
      &.web {
        --header-bar-height: 60px;
      }
    }
  }
}

@media only screen and (width >= 1281px) {
  .App {
    &.web {
      --header-bar-height: 60px;
      --footer-bar-height: 40px;
    }
  }
}
