{
    auto_https off
}
:8080

root * /srv
file_server

log {
  level WARN
}
encode gzip

try_files {path} /index.html

templates /assets/configuration* {
  mime application/javascript
}

header /index.html {
  Cache-Control max-age=0,no-cache,no-store,must-revalidate
}
