{
    auto_https off
}
:8080

root * /srv
file_server

log {
  level WARN
}
encode gzip

templates /assets/configuration* {
  mime application/javascript
}

route {
  header /assets/* Cache-Control max-age=3600
}

route {
  header /index.html {
    Cache-Control max-age=0,no-cache,no-store,must-revalidate
  }
  try_files {path} /index.html
}
