:root:has(#app.overlay-layout) {
  --overlay-top: var(--header-bar-height);
  --overlay-grip-height: 25px; /* grab handle */

  #app.overlay-layout {
    position: relative;

    .overlayMenuResizeButtons {
      display: flex;
      flex-direction: row;
    }

    #overlay-anchor {
      position: absolute;
      inset: var(--header-bar-height) 0 var(--footer-bar-height) 0;
      pointer-events: none;
      overflow: clip;
    }

    .overlay-panel {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
      z-index: 400;
      background: #fff;

      &.shown {
        top: var(--overlay-top);
        padding-bottom: 1rem;

        .overlay-content {
          padding-bottom: calc(var(--footer-bar-height) + 5px);
        }
      }

      &.fullscreen {
        top: 0;
      }

      .overlay-content {
        pointer-events: auto;
        height: 100%;
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
      }
    }

    .map-containing-block {
      position: absolute;
      left: 0;
      right: 0;
      top: var(--header-bar-height);
      bottom: var(--footer-bar-height);
    }

    .MapWrapper {
      position: absolute;
      inset: 0;
      overflow: hidden;
    }

    .Map {
      width: 100%;
      height: 100%;
    }

    .map-containing-block:has(+ #overlay-anchor > .overlay-panel.shown) {
      #map-btn-container {
        bottom: 0 !important;
        top: calc(var(--overlay-top) - var(--map-button-bar-height) - 4px) !important;
      }

      .maplibregl-ctrl-bottom-right {
        top: calc(var(--overlay-top) - 48px) !important;
        bottom: initial !important;
        transition: top 0.1s ease 0.3s !important;
      }

      .maplibregl-ctrl-bottom-left {
        top: calc(var(--overlay-top) - 48px) !important;
        bottom: initial !important;
        transition: top 0.1s ease 0.3s !important;
      }
    }

    .map-containing-block:has(+ #overlay-anchor > .overlay-panel:not(.shown)) {
      #map-btn-container {
        bottom: 0 !important;
        top: auto;
      }

      .maplibregl-ctrl-bottom-right {
        top: auto;
        bottom: 0 !important;
        transition: top 0.1s ease 0.3s !important;
      }

      .maplibregl-ctrl-bottom-left {
        top: auto;
        bottom: 0 !important;
        transition: top 0.1s ease 0.3s !important;
      }
    }
  }
}
