:root {
  --overlay-top: var(--header-bar-height);
  --overlay-grip-height: 25px; /* grab handle */
}

.overlayMenuResizeButtons {
  display: flex;
  flex-direction: row;
}

#overlay-anchor {
  position: absolute;
  inset: var(--header-bar-height) 0 var(--footer-bar-height) 0;
  pointer-events: none;
  overflow: clip;
}

.overlay-content {
  pointer-events: all;
  overflow: scroll;
  width: 100%;
  box-sizing: border-box;
}

.map__overlay {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 400;
  transition: all 0.002s ease-in-out 0.002s;
  height: 0;

  &.map__overlay--show {
    top: var(--overlay-top);
    bottom: 0;
    height: 100%;
    overflow-y: auto;
  }

  &.map__overlay--show-fullscreen {
    height: 100%;
    overflow-y: visible;
  }
}

.mapOverlayContents {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}


.map-containing-block {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100px;
}

.MapWrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.Map {
  width: 100%;
  height: 100%;
}


.maplibregl-ctrl-bottom-right {
  top: calc(var(--overlay-top) - 48px) !important;
  bottom: initial !important;
  transition: top 0.1s ease 0.3s !important;

}

.maplibregl-ctrl-bottom-left {
  top: calc(var(--overlay-top) - 48px) !important;
  bottom: initial !important;
  transition: top 0.1s ease 0.3s !important;
}

#map-btn-container {
  bottom: 0 !important;
  top: calc(var(--overlay-top) - var(--map-button-bar-height) - 4px) !important;
}
