#form-menu-buttons {
  max-width: 100%;
  width: 300pt;
  background-color: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1pt solid black;

  button {
    min-height: 50pt;
    background-color: var(--blue-primary);
    border-radius: 0;

    &:disabled {
      background-color: #ccc;
      color: black;
    }
  }
}
