div.protomapsList {
  min-height: 8rem;
  display: flex;
  flex-direction: column;


  .status {
    display: grid;
    text-align: end;
    grid-template:
      "icon status" auto "progress progress" auto / auto 1fr;

    .progress {
      grid-area: progress;
      align-self: center;
      height: 1rem;
    }
  }


  table {
    thead {
      border-bottom: 2px solid black;
    }

    tr {
      th {
        text-align: center;
        font-weight: bold;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    td:not(:last-child), th:not(:last-child) {
      border-right: 1px solid var(--bc-blue);
    }

    width: 100%;
    border-collapse: collapse;

    tbody {
      tr:nth-child(even) {
        background-color: var(--even-list-item-bg-color);
      }

      tr:nth-child(odd) {
        background-color: var(--odd-list-item-bg-color);
      }

      tr:hover {
        background-color: var(--hovered-list-item-bg-color);
      }
    }
  }
}
