:root:has(#map-btn-container, #overlaydiv.map__overlay--show) {
  #map-btn-container {
    bottom: clamp(
      calc(var(--overlay-grip-height)),
      calc(var(--overlay-grip-height) + var(--overlay-height) + 4px),
      calc(100svh - (var(--map-button-bar-height) + var(--header-bar-height)))
    );
  }
}

:root:has(#map-btn-container):not(:has(#overlaydiv.map__overlay--show)) {
  #map-btn-container {
    bottom: 4px;
  }
}

#map-btn-container {
  z-index: 2;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  background: none;
  gap: 16px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  height: var(--map-button-bar-height);
  transition: bottom 0.1s ease 0.3s;

  /* Enable clickthrough on div, but keep children clickable */
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }

  .button {
    height: 100%;
    aspect-ratio: 1;
    font-weight: bold;
    border-radius: 50%;
    color: var(--bc-blue);

    &:hover {
      background-color: white;
    }
  }

  .basemap-btn-group {
    display: flex;
    div {
      border-right: 1px solid darkgrey;

      &.selected {
        .basemap-btn {
          background-color: var(--bc-blue);
          color: var(--bc-yellow);
        }
      }

      .basemap-btn {
        height: 100%;
        width: var(--map-button-bar-height);
        border-radius: 0;
        background-color: white;
        color: var(--bc-blue);
      }

      &:first-child:not(:only-child) {
        .basemap-btn {
          border-radius: 20% 0 0 20%;
        }
      }

      &:last-child:not(:only-child) {
        .basemap-btn {
          border-radius: 0 20% 20% 0;
        }
        border-right: none;
      }

      &:only-child {
        /* the special case when there's only one button */
        .basemap-btn {
          border-radius: 20%;
        }
        border: none;
      }
    }
  }

  .map-btn {
    .button {
      background-color: white;
      color: var(--bc-blue);
    }
  }

  .map-btn-selected {
    .button {
      background-color: var(--bc-blue);
      color: var(--bc-yellow);
    }
  }
}
