#map-btn-container {
  display: flex;
  flex-flow: row nowrap;
  place-content: space-evenly center;
  gap: 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--map-button-bar-height);

  .button {
    height: 100%;
    aspect-ratio: 1;
    font-weight: bold;
    border-radius: 50%;
    color: #036;

    &:hover {
      background-color: white;
    }
  }

  .map-btn {
    .button {
      background-color: white;
      color: #036;
    }
  }

  .map-btn-selected {
    .button {
      background-color: #036;
      color: #fcba19;
    }
  }

  /* background: rgb(255 255 255); */

  /* background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 50%) 50%, rgb(255 255 255 / 0%) 100%); */
}
