.whatshere-container {
  width: 100%;
}

.whatshere-table {
  width: 100%;
  height: 100%;
}

.whatshere-position {
  height: 450px
}

.whatshere-table-container {
  margin: 0 1rem;
  padding-bottom: 3rem;
}
.whatshere_back_button {
 margin-right: 0;
 position: absolute;

}