div.memory-report {
  display: flex;
  justify-content: center;
  position: absolute;
  color: black;
  top: 124px;
  left: 60px;
  width: 135px;
  background-color: rgb(255 255 255 / 70%);
  dl {
    font-family: monospace;
    font-size: 8px;
    line-height: 1.1;

    dt {
      padding: 0;
      margin: 0;
    }

    dd {
      padding: 0;
      margin: 0;
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    }
  }
}
