.beta {
  transform: rotate(-35deg);
  color: yellow;
  font-weight: bold;

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-35deg);

  /* Firefox */
  -moz-transform: rotate(-35deg);

  /* IE */
  -ms-transform: rotate(-35deg);

  /* Opera */
  -o-transform: rotate(-35deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  flex: right;
}
