#map-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 200px;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: all 0.2s ease;
  /* in case we want a gradient background */
  /* background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.500437675070028) 50%, rgba(255,255,255,0) 100%); */
}

.map-btn {
  padding: .5rem;
  flex: 0 0 auto;
}

.map-btn-container .map-btn:first-child {
  margin-left: auto;
}

.map-btn-container .map-btn:last-child {
  margin-right: auto;
}

/* in case we want different in mobile */
/* @media only screen and (max-width: 768px) {
  .map-btn-container {
    width: 50vw;
  }
} */