.form_wrapper {
  height: 100%;
}
#record-header-info {
  padding: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    max-width: 600pt;
    display: flex;
    flex-direction: column;

    table {
      width: 100%;
      text-align: left;
      tr {
        height: 30pt;
        border-bottom: 1pt solid lightgray;
        td:first-child {
          width: 40%;
        }
      }
    }
  }
}

label {
  text-align: left;
}

td {
  padding: 3px;
}

#invasive_plants_section {
  display: flex;
  flex-direction: column;
}

#invasive_plants_list {
  display: flex;
  flex-wrap: wrap;
}

.invasive_plant {
  padding: 10px;
}

.removeInvasivePlantButton {
  padding-top: 10px;
}

#herbicides_section {
  display: flex;
  flex-direction: column;
}

#herbicides_list {
  display: flex;
  flex-wrap: wrap;
}

.herbicide_list_item {
  min-width: 200px;
  padding: 10px;
}

.productApplicationRate {
  padding: 10px;
  width: 100%;
}

.amountOfMix {
  padding-top: 30px;
  padding-bottom: 10px;
}

#tank_mix_delivery_and_amount {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#delivery_rate_of_mix_tank_mix {
  display: flex;
  width: 100%;
}

#amount_of_mix_tank_mix {
  display: flex;
  width: 100%;
}

@media screen and (width > 500px) {
  #record-header-info {
    .content {
      flex-direction: row;
      table {
        width: 50%;
      }
    }
  }
}
