.record_table_container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  z-index: 2183646;
}

.record_table {
  white-space: nowrap;
}
.record_table_header {
  top: 0;
  position: sticky;
  overflow-x: scroll;
}
.record_table_header_column {
  padding-left: 5px;
  /*width: 10px;*/
}
.record_table_row_column {
  padding-left: 5px;
  text-align: left;
}
tr {
  border-collapse: collapse;
  border-spacing: 0px;
}
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}
