.recordSet_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}

.recordSet_header {
  height: 5vh;
  width: 100%;
  top: 0;
  background-color: #333;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.stickyHeader {
  position: sticky;
  top: 0;
}


.recordSet_header_name {
  font-size: large;
  font-weight: bold;
  color: white;
  width: auto;
}

.recordSet_back_button {
  margin-right: auto;
}
.recordSet_menu_button {
  width: auto;
}
.recordSet_new_filter_button {
  margin-left: auto;
}

.recordSet_filters_container {
  /*padding-top: 10px;*/
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
}

.recordSet_filters {
  position: sticky;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recordSet_filter {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.deleteButton {
  width: 30px;
  height: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.recordSet_filter_operator {
}

.recordSet_filter_type {
  padding-left: 2vw;
  /*z-index: 2147483646;*/
}

.recordSet_filter_value {
  padding-left: 2vw;
}

.recordSetFilterTable {
  width: 100vw;


}

tr:hover {background-color: coral;}

tr {
  width: 50px
}

td {
  width: 50px
}

.filterSelect {
  width: 100px;
}

.recordSet_footer {
  bottom: 0;
  z-index: 2147483646;
  height: 5vh;
  width: 100%;
  background-color: #333;
  align-items: center;
  display: flex;
  position:  fixed;
  flex-direction: row;
  justify-content: flex-end;
}