.records__container {
  height: 100%;
  width: 100%;
}

.records_set {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-width: 1px;
  border-color: green;
  background-color: #fff;
  color: black;
  overflow: auto
}
.record_sets_header {
  height: 40px;
  width: 100%;
  background-color:  #333;
  align-items: center;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.record_sets_header_new_set_button {
<<<<<<< HEAD
  margin-left: auto;

}
.record_sets_header_close_button {
  margin-right: auto;
=======
  margin-right: auto;

}
.record_sets_header_close_button {
  margin-left: auto;
>>>>>>> 51785448 (top level activities page components done and working - table next)
}


.records_set_left_hand_items{
  height: 100%;

  width:25%;
  display: flex;
  flex-direction: row;
  justify-content: left;

}
.records_set_name {
  height: 100%;
  font-size: small;
  overflow-y: hidden;
<<<<<<< HEAD
/*  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
=======
>>>>>>> 51785448 (top level activities page components done and working - table next)

}

.records_set_name_edit {
  padding-left: 5px;

  height: 50px;
}

.records_set_right_hand_items{
  height: 100%;
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: right;
  overflow-x: hidden;
  overflow-y: hidden;

}
.records_set_layer_colour {
}

.record {
  height: 100px;
  width: 100%; 
}

.records_activity {
  color: white
}

.records__activity__header {
  /* same height as the apps header and footer */ 
  height: 5vh;
  width: 100%;
  border-style: dotted;
  border-color: black;
  display: flex;
  justify-content: center;
}

.records__activity_buttons {
  height: 5vh;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.records__activity__photos_button {
  height: 5vh;
  width: 100px;
  border-style: dotted;
  border-color: black;
}

.records__activity__form_button {
  height: 5vh;
  width: 100px;
  border-style: dotted;
  border-color: black;
}


.records__activity__map_button {
  height: 5vh;
  width: 100px;
  border-style: dotted;
  border-color: black;
}

