.filter-cell {
  overflow: visible !important;
  contain: none !important;
  height: auto !important;
}

.filter-cell-open {
  line-height: 110% !important;
}
.filter-cell-open span {
  line-height: 180% !important;
}
