.whatsHere-pagination {
  color: black;
  margin-top: 8pt;
  span {
    color: black;
  }
}
.whiteBg {
  background-color: white !important;
}

.whiteBg:disabled {
  background-color: lightgray !important;
}
