div.memory-report {
  color: white;
  padding: 0;
  margin: 0;

  dl {
    font-family: monospace;
    font-size: 8px;
    line-height: 1.1;

    dt {
      padding: 0;
      margin: 0;
    }

    dd {
      padding: 0;
      margin: 0;
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    }
  }
}
