#offline-map-overlay {
  padding: 1.25rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2,
  h3,
  h4 {
    margin-top: 1rem;
  }
  h2 {
    font-size: 24pt;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 20pt;
  }
  h4 {
    font-size: 18pt;
  }
  .emphasis {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 3pt;
  }
}

/* Generic for each sub-section in Offline Maps */
#offline-map-overlay section {
  padding: 1rem;
  border: 1pt solid lightgray;
  border-radius: 4pt;
  min-height: 100pt;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border: 1pt solid lightgray;
}
section table {
  border-collapse: collapse;
}
section tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.subheader {
  margin-top: 0;
}

section table {
  border-radius: 5pt;
}
section table th {
  height: 3rem;
}
section table td:first-child,
section table th:first-child {
  padding-left: 1rem;
  width: 30%;
}

section table td:last-child,
section table th:last-child {
  text-align: right;
  padding-right: 1rem;
}
.shapeDetails {
  text-align: left;
  margin: 10px 0;
  padding: 1rem;
  b {
    font-size: 1.1rem;
  }
  p {
    margin-top: 0;
    padding: 0;
  }
}

section .control {
  margin-top: 10pt;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.deep-red {
  color: var(--deep-red);
}
.red {
  color: var(--error-red);
}
.green {
  color: var(--success-green);
}
.orange {
  color: var(--warning-orange);
}
