/* Main container */
#offline-map-overlay {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100%;
  h2 {
    font-size: 24pt;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 20pt;
  }
  h4 {
    font-size: 18pt;
  }
  .emphasis {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 3pt;
  }
  .subheader {
    margin-top: 0;
  }
}

/* Generic for each sub-section in Offline Maps */
#offline-map-overlay section {
  align-items: center;
  border-bottom: 1pt solid lightgray;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  min-height: 100pt;
  padding: 1rem;
  width: 100%;
  padding: 0;
}

section table {
  border-collapse: collapse;
  border: 1pt solid lightgray;
  border-radius: 5pt;
  table-layout: fixed;
  word-wrap: break-word;
  tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
  }
  th {
    height: 3rem;
  }
  td:first-child,
  th:first-child {
    padding-left: 1rem;
  }
  td:last-child,
  th:last-child {
    text-align: right;
    padding-right: 1rem;
  }
}

.shapeDetails {
  margin: 10px 0;
  padding: 1rem;
  text-align: left;
  b {
    font-size: 1.1rem;
  }
  p {
    margin-top: 0;
    padding: 0;
  }
}

/* Bottom Button containers */
section .control {
  display: flex;
  justify-content: flex-end;
  margin-top: 10pt;
  width: 100%;
  box-sizing: border-box;
  padding: 1.25rem;
}

/* Color Classes */
.deep-red {
  color: var(--deep-red);
}
.red {
  color: var(--error-red);
}
.green {
  color: var(--success-green);
}
.orange {
  color: var(--warning-orange);
}
#offline-map-overlay section:last-of-type {
  padding: 0;
}

@media screen and (min-width: 768px) {
  #offline-map-overlay,
  #offline-map-overlay section,
  #offline-map-overlay section:last-of-type {
    padding: 1.25rem;
  }
  #offline-map-overlay section {
    border: 1pt solid lightgray;
    border-radius: 4pt;
  }
  .control {
    padding: 0;
  }
}
