.guide-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;

  h3 {
    margin: 0;
    text-align: left;
  }
  .guide-inner {
    display: flex;
    flex-direction: column-reverse;

    .content-text p:not(:first-child) {
      margin-top: 0;
    }
    .content-text p {
      text-align: left;
    }
    .content-images {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      width: 100%;
    }

    figure {
      align-items: center;
      background-color: #fafafa;
      border: 1pt solid #ababab;
      border-radius: 4pt;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 300px;
      margin: 5px 10px;
      padding: 5pt;
      width: 100%;

      img {
        width: 100%;
      }
      figcaption {
        font-size: 0.85rem;
      }
    }
  }
}

@media only screen and (width >= 768px) {
  .guide-content .guide-inner {
    display: block;

    .content-images {
      align-items: center;
      float: right;
      width: auto;
    }
  }
}
