body {
  font-family: BCSans, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
}

.userInfoItemGrid {
  display: flex;
  flex-direction: row;
}

.h-divider {
  padding: 5pt;
  display: none;
}

#landing {
  font-family: BCSans, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: left;
  width: 100%;
  padding: 30pt 0;
  display: flex;
  justify-content: center;

  .landing-header {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 5pt;
    font-size: 14pt;
  }
  .app-store-links {
    p {
      margin-bottom: 0.5rem;
    }

    /* Margin around icons must be >= 25% of badge icon height */
    .download-links {
      --icon-height: 55px;
      display: flex;
      flex-direction: row;
      margin: 13px 0;

      a {
        display: flex;
        flex-direction: column;
        margin-top: calc(var(--icon-height) * 0.25);
        img {
          height: var(--icon-height);
        }
      }

      a:not(:last-child) {
        margin-right: calc(var(--icon-height) * 0.25);
      }
    }
  }
  p {
    margin: 0;
  }

  h2 {
    font-size: 24pt;
    font-weight: 100;
  }

  h3 {
    font-size: 18pt;
    font-weight: 100;
    margin-bottom: 0;
  }

  .content {
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
  }
}

.bottomAccess {
  font-size: 16pt;
  font-weight: bold;
}

@media screen and (width >= 500px) {
  .h-divider {
    display: flex;
  }
}

.links-box {
  display: flex;
  flex-direction: column;

  u {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  a {
    display: block;
    margin: 0.85rem 0;
    color: -webkit-link;

    &:active {
      color: -webkit-activelink;
    }
  }
}
