body {
  font-family: BCSans, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

.userInfoItemGrid {
  display: 'flex';
  flex-direction: 'row';
}

.cardListItemGrid {
  display: 'flex';
  flex-direction: 'row';
  justify-content: 'space-between';
}

.cardWidth {
  margin-bottom: 2em;
}

.container {
  font-family: BCSans, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  margin: 1rem;
  padding: 4rem;
}



@media (min-device-width: 600px) {
  .cardWidth {
    width: 600
  }
}