body {
  font-family: BCSans, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
}

.userInfoItemGrid {
  display: 'flex';
  flex-direction: 'row';
}

.h-divider {
  padding: 5pt;
  display: none;
}

#landing {
  font-family: BCSans, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: left;
  width: 100%;
  padding: 30pt 0;
  display: flex;
  justify-content: center;

  p {
    margin: 0;
  }
  h2 {
    font-size: 24pt;
    font-weight: 100;
  }
  h3 {
    font-size: 18pt;
    font-weight: 100;
    margin-bottom: 0;
  }
  .content {
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
  }
}

.bottomAccess {
  font-size: 16pt;
  font-weight: bold;
}

@media screen and (width >= 500px) {
  .h-divider {
    display: flex;
  }
}

.links-box {
  display: flex;
  flex-direction: column;

  u {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  a {
    display: block;
    margin: 0.85rem 0;
    color: -webkit-link;

    &:active {
      color: -webkit-activelink;
    }
  }
}
