@import 'styles.scss';

// .App {
//   display: flex;
//   flex-direction: column;
// //   height: 100vh;
//   overflow-x: hidden;
//   text-align: center;
// }

.App-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-content {
  display: flex;
  flex: 1;
  //   flex-direction: column;
  //   margin-bottom: 100px;
  //   padding-bottom: 100px;

  /* for Firefox */
  min-height: 0;
}

// .header-layout {
//   // colors
//   background-color: $primary-color;
//   border: none;
//   border-bottom: 2px solid $accent-color;

//   // sizing
//   flex-shrink: 0;
// }

// .footer-layout {
//   // colors
//   background-color: $primary-color;
//   border: none;
//   border-top: 2px solid $accent-color;
//   position: fixed;
//   bottom:0;
//   left: 0;
//   right: 0;

//   // sizing
//   flex-shrink: 0;

//   a,
//   h2 {
//     color: #fff;
//   }
// }
