.map__overlay {
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    background-color: #fff;
    transition: all 0.5s ease;
    transform: translateY(100%);
    z-index:10000000;
    overflow: hidden;
  }
  
  .map__overlay--show {
    height: 50%;
    transform: translateY(-5vh);
    display: flex;
    overflow-y: visible;;
  }