.map__overlay {
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    background-color: #fff;
    transition: all 0.5s ease;
    transform: translateY(100%);
    z-index:1000;
  }

  .mapOverlayContentsWrapperWithResize { 
    transform: rotate(180deg) ;
    width: 100%;
    resize: vertical;
    overflow-y: auto;
  }
  .mapOverlayContents { 
    transform: rotate(180deg) ;
    height: 100%;
    width: 100%;
    /*/scroll-behavior: ;*/
  }
  
  .map__overlay--show {
    height: auto;
    transform: translateY(-5vh);
    overflow-y: auto;
    display: flex;
/*    overflow-y: visible;; */
  }

.map__overlay--show-fullscreen {
    height: 100%;
    transform: translateY(-5vh);
    display: flex;
    overflow-y: visible;;

}

::-webkit-resizer {
  top: 0;
  left: 500;
  border-width: 80px;
  height: 200px;
  border-style: solid;
  border-color: transparent orangered orangered transparent;
}