.records__container {
  height: 100%;
  width: 100%;
}

.addRecordSet {
  height: 100px;
  width: 100px;
}

.records_set {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-width: 1px;
  border-color: green;
  background-color: #fff;
  color: black;
  overflow: auto;
}

.record_sets_header_new_set_button {
  margin-left: auto;
}

.records_set_left_hand_items {
  height: 100%;

  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.records_set_name {
  height: 100%;
  font-size: small;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  /*  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

.records_set_name_edit {
  padding-left: 5px;

  height: 50px;
}

.records_set_right_hand_items {
  height: 100%;
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: right;
  overflow-x: hidden;
  overflow-y: hidden;
}
.records_set_layer_colour {
}

.record {
  height: 100px;
  width: 100%;
}

.records_activity {
  color: white;
}

.records__activity__header {
  /* same height as the apps header and footer */
  height: 5vh;
  width: 100%;
  border-color: black;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.records__activity_buttons {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.records__activity_buttons > * {
  flex-grow: 1;
}

.selectedFormTab {
  border-bottom-style: solid !important;
  /*border-radius: 2vh;*/
  border-width: 0.5vh !important;
  border-color: #fcba19 !important;
}

.records__activity__photos_button {
  height: 5vh;
  border-color: black;
  border-radius: 0px !important;
  background-color: #003366 !important;
}

.records__activity__form_button {
  height: 5vh;
  border-color: black;
  border-radius: 0px !important;
  background-color: #003366 !important;
}

.records__activity__map_button {
  height: 5vh;
  border-color: black;
  border-radius: 0px !important;
  background-color: #003366 !important;
}
