.recordSet_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recordSet_header {
  height: 5vh;
  width: 100%;
  top: 0;
  background-color: #333;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stickyHeader {
  position: sticky;
  top: 0;
}

.excelExporter {
  /* justify-self: flex-end; */
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-right: 0;
}

.recordSet_header_name {
  display: flex;
  padding-left: 2vw;
  font-size: large;
  font-weight: bold;
  color: white;
  width: auto;
}

.recordSet_back_button {
}

.recordSet_menu_button {
  width: auto;
}

.recordSet_new_filter_button {
  margin-left: auto;
}

.recordSet_filters_container {
  /* padding-top: 10px; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.recordSet_filters {
  width: 100%;
  padding-top: 10px;
  position: sticky;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recordSet_filter {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.recordSet_filter_buttons_container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.deleteButton {
  width: 30px;
  height: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.recordSet_filter_operator {
}

.recordSet_filter_type {
  padding-left: 2vw;

  /* z-index: 2147483646; */
}

.recordSet_filter_value {
  padding-left: 2vw;
}

.recordSetFilterTable {
  width: 100vw;
}

tr {
  width: 50px;
}

td {
  width: 50px;
}

.filterSelect {
  /* width: 100px; */
  max-width: 150px;
}

.recordSet_footer {
  flex-direction: row;
  justify-content: center;
  color: white;
  bottom: var(--footer-bar-height);
  height: 2rem;
  width: 100%;
  background-color: #036;
  align-items: center;
  display: flex;
  position: fixed;
}
