#records-container {
  height: 100%;
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.new-recordset-button {
  height: 100px;
  width: 100px;
}

.record-set-option {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40pt;
  padding: 5pt 1rem;
  box-sizing: border-box;
  border-bottom: 1pt solid black;
  p {
    margin: 0;
    padding: 0;
  }
}

.record-set-details,
.record-set-control {
  width: 100%;
  display: flex;
  align-items: center;
}
.record-set-details {
  flex-direction: flex-start;
  margin-bottom: 5pt;
  input {
    height: 30pt;
    border: 1pt solid lightgray;
    font-size: 12pt;
    border-radius: 8pt;
    padding-left: 1rem;
  }
}
.record-set-control {
  justify-content: flex-start;
}

@media screen and (width > 500px) {
  .record-set-option {
    flex-direction: row;
  }
  .record-set-details,
  .record-set-control {
    width: 50%;
  }
  .record-set-details {
    margin-bottom: 0;
  }
  .record-set-control {
    justify-content: flex-end;
  }
}
