.records__container {
  height: 100%;
  width: 100%;
}

.addRecordSet {
  height: 100px;
  width: 100px;
}

.records_set {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  border: 1pt solid black;
  box-sizing: border-box;
  color: black;
  overflow: hidden;
}

.records_set:hover {
  cursor: pointer;
}
.records_set_left_hand_items {
  height: 100%;

  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.records_set_name {
  height: 100%;
  font-size: small;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  /*  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

.records_set_name_edit {
  padding-left: 5px;

  height: 50px;
}

.records_set_right_hand_items {
  height: 100%;
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: right;
  overflow-x: hidden;
  overflow-y: hidden;
}

.record {
  height: 100px;
  width: 100%;
}

.records_activity {
  color: white;
}

.records__activity__header {
  /* same height as the apps header and footer */
  width: 100%;
  border-color: black;
  display: flex;
  justify-content: center;
}

.records__activity_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & > button {
    height: 20pt;
  }
}

.records__activity_buttons > * {
  flex-grow: 1;
}

.selectedFormTab {
  border-bottom-style: solid !important;
  /*border-radius: 2vh;*/
  border-width: 0.5vh !important;
  border-color: #fcba19 !important;
}

.records__activity__photos_button {
  height: 5vh;
  border-color: black;
  border-radius: 0px !important;
  background-color: #003366 !important;
}

.records__activity__form_button {
  height: 5vh;
  border-color: black;
  border-radius: 0px !important;
  background-color: #003366 !important;
}

.records__activity__map_button {
  height: 5vh;
  border-color: black;
  border-radius: 0px !important;
  background-color: #003366 !important;
}
