.map {
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}
#themap {
  background-color: black;
  -webkit-font-smoothing: antialiased;
}

.map__leaflet {
  height: 100%;
  width: 100%;
}

.overlay_toggle {
  z-index: 10000000;
  position: absolute;
  top: 18px;
  height: 65px;
  right: 18px;
  border: 0;
  background-color: #fff;
  box-shadow: 1px 1px black;
}

.cycle_mode {
  z-index: 10000000;
  position: absolute;
  top: 104px;
  height: 65px;
  right: 18px;
  border: 0;
  background-color: #fff;
  box-shadow: 1px 1px black;
}

.leaflet-top {
  z-index: 9999999999
}