.metadata-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 !important;
}

#record-metadata {
  display: grid;
  width: calc(var(--form-container-width) * 0.75);
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;

  .list-item {
    background-color: #fff;
    padding: 5px 10px;
    text-align: left;
    margin: 1px;

    dt {
      font-size: 1.15rem;
      font-weight: bold;

      &::after {
        content: ':';
      }
    }

    dd {
      margin: 0;
      overflow-wrap: break-word;
      font-size: var(--form-input-font-size);
    }
  }
}
