@import 'styles.scss';

.App-footer {
  background-color: white;

  a {
    display: inline;
    &:link,
    &:visited {
      color: black;
      font-size: 16px;
      font-family: 'BCSans', Fallback, sans-serif;
      padding: 0 10px;
      border-right: 1px solid #666;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
