#trip-planning-form {
  --blanket-margin: 1rem;

  .required {
    color: var(--error-red);
  }

  .overview {
    text-align: left;
  }

  #trip-planning-form-name {
    font-size: 14px;
    height: 32px;
    padding-left: 0.5rem;
    width: 200px;
  }

  .trip-planning-button {
    background-color: var(--bc-blue);
  }

  .control {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    margin-top: var(--blanket-margin);
    padding: 0 1rem;
    width: 100%;
  }

  legend {
    font-size: 14pt;
    margin-top: var(--blanket-margin);
  }

  fieldset {
    border-color: #ccc;
    border-width: 1px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }

  .details-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .input-label {
    align-items: center;
    display: flex;
    padding: 5px;
    justify-content: flex-start;

    & > :first-child {
      margin-right: 8pt;
    }
  }

  p.help {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;

    a {
      color: var(--bc-blue);
    }
  }

  form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    input[type='checkbox'] {
      width: 25px;
      height: 25px;
    }
  }
}
