
#appTitle {
  font-weight: bold;
  padding-left: 5px;
  

}
.HeaderBar {
   height: 7h;
    cursor: pointer;
    width: 100vw;
    background-color: #223f75;
    /*position: fixed;*/
    z-index: 2147483646;
    /*top: 0;
    left: 0;*/
    color: white;
    align-items: center;
  }

.ButtonWrapperContainer {
  width: 55%;
  height: 5vh;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

#ButtonWrapper {
  width: 100%;
  height: 5vh;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  /* justify-content: center; */
  /* width: 80vw; */
}

#right-icon-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  pointer-events: none;
  visibility: hidden;
}

#left-icon-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  pointer-events: none;
  visibility: hidden;
}

.direction-icon {
  color: black;
}

.Tab{
    display: flex;
    /* flex-direction: row;
    flex-flow: row wrap; */
    align-items: center;
    padding-right: .5rem;

}

.Tab__Label {
/*    padding-top: 5px;*/
    /* align-self: flex-start; */
    font-size: small;

}

.Tab__Content {
    /* align-self: flex-start */

}
.Tab__Indicator {
  border-bottom-style: solid;
  /*border-radius: 2vh;*/
  border-width: .5vh;
  border-color: #FCBA19;


}
.LoginButton, .LogoutButton {
  display: flex;
  position: fixed;
  align-items: center;
  height: 5vh;
  right: 0;
  margin-right: 10px;
}


.inv-icon {
  display: flex;
  position: fixed;
  align-items: center;
  height: 5vh;
  margin: 0 10px;
}
  