
.HeaderBar {
    height: 5vh;
    width: 100vw;
    background-color: #333;
    /*position: fixed;*/
    z-index: 2147483646;
    /*top: 0;
    left: 0;*/
    color: white;
    align-items: center;
  }


.ButtonWrapper {
    display: flex;
    flex-direction: row;

}

.Tab{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.Tab__Label {
    font-size: small;

}

.Tab__Content {

}

.LoginButton {
    align-items: center;
    right: 1;
    position: fixed;
    margin-right: 10px;
}

.LogoutButton {
    align-items: center;
    right: 0;
    position: fixed;
    margin-right: 10px;
}
  