
.HeaderBar {
    display: flex;
    height: 5vh;
    width: 100vw;
    background-color: #333;
    position: fixed;
    z-index: 2147483646;
    top: 0;
    left: 0;
    color: white;
    align-items: center;
  }

.LoginButton {
    align-items: center;
    right: 0;
    position: fixed;
    margin-right: 10px;
}

.LogoutButton {
    align-items: center;
    right: 0;
    position: fixed;
    margin-right: 10px;
}
  