.activity-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.activity-form {
  display: flex;
  flex-flow: row wrap;
  width: var(--form-container-width);
  max-width: 100%;
  margin: 5vh 0;
  box-sizing: border-box;
  justify-content: space-around;

  .control {
    width: 100%;
    display: flex;
    align-items: center;

    button,
    input[type='submit'] {
      width: 100%;
      height: 3em;
      border-radius: none;
      border: 1pt solid black;
      background-color: #036;
      color: white;
      font-weight: bold;
      font-size: var(--form-input-font-size);

      &:hover {
        cursor: pointer;
      }

      &:active {
        background-color: #002050;
      }

      &:disabled {
        background-color: #aaa;
        color: #111;

        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }

  pre {
    background-color: lightgray;
    box-sizing: border-box;
    border: 1pt solid black;
    width: 100%;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 1.5em;
    padding: 1rem;
  }
}
