input[type='button']:hover {
  cursor: pointer;
}

.activity-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
  background-color: #f1f1f1;

  nav {
    display: flex;
    flex-direction: 100%;
    width: 100%;
    border-top: 1pt solid black;
    box-sizing: border-box;

    .form-nav {
      font-size: var(--form-input-font-size);
      background-color: var(--bc-blue);
      color: white;
      padding: 4px;
      width: 100%;
      text-decoration: none;
      text-transform: capitalize;
      border-bottom: 5px solid var(--bc-blue);

      &.active {
        border-color: var(--bc-yellow);
      }
    }
  }
}

#activity-form {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  padding: 1em;
  width: var(--form-container-width);
  max-width: 100%;
  margin: 5vh 0;
  box-sizing: border-box;
  justify-content: space-around;

  .form-popover-anchor {
    background-color: white;
    position: absolute;
    height: var(--overlay-grip-height);
    padding: 0 1rem;
    z-index: calc(var(--overlay-header-z-index) + 1);
    text-transform: uppercase;
    top: 0;
    right: 0;
  }

  .linked-activity-entry {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;

    li {
      background-color: var(--odd-list-item-bg-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 15px;
      width: 95%;

      span {
        width: 100%;
        text-align: left;
        margin: auto;
      }

      &:nth-child(even) {
        background-color: var(--even-list-item-bg-color);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

.control-button {
  width: 100%;
  height: 3em;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: none;
  border: 1pt solid black;
  background-color: var(--bc-blue);
  color: white;
  font-weight: bold;
  font-size: var(--form-input-font-size);

  &:disabled {
    background-color: #aaa;
    color: #111;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover:not(:disabled),
  &:active:not(:disabled) {
    cursor: pointer;
    filter: brightness(90%);
  }
}

#activity-form .control,
#form-popover-menu {
  width: 100%;
  display: flex;
  align-items: center;
  min-width: 300px;
}

#form-popover-menu {
  flex-direction: column;
  background-color: var(--bc-blue);

  .error-warning {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
  }

  p {
    color: white;
    margin: 0;
  }

  .control-button:not(:disabled) {
    background-color: var(--blue-primary);
  }
}

#activity-form-control {
  flex-direction: row;
}

/* Start of Photo Section for Forms  */

#activity-form #photo-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .content {
    display: flex;
    box-sizing: content-box;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    & > * {
      margin-bottom: 20px;
    }

    /* Single Media Entry  */
    .photo-card {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      box-shadow: #ccc 2px 2px 1px 1px;
      border: 1pt solid #888;
      padding: 5px;
      width: calc((var(--form-container-width) / 2) - 25px);
      max-width: 100%;

      /* Photo Container  */
      .photo {
        box-sizing: border-box;
        width: 100%;
        display: flex;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          max-height: 350px;
        }
      }

      /* Description Text Box, See: "Caption" */
      .description {
        box-sizing: border-box;
        display: flex;
        border-radius: 8px;
        height: 100%;
        width: 100%;
        margin: 10px 0;
        padding: 5px;

        caption {
          font-size: var(--form-input-font-size);
          width: 100%;
          text-align: center;
        }
      }

      /* Text Input / Save for detailing entries  */
      .edit-control {
        input[type='text'] {
          font-family: BCSans, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
          height: var(--form-input-height);
          width: 100%;
          box-sizing: border-box;
          padding: 0.25rem 0.5rem;
          font-size: var(--form-input-font-size);
          margin-bottom: 3px;
        }

        input[type='button'] {
          width: 100%;
          background-color: var(--blue-primary);
          color: white;
          padding: 8px;
          font-size: var(--form-input-font-size);
        }
      }

      /* Delete / Edit Buttons  */
      .photo-control {
        margin-top: auto;
        display: flex;
        border-top: 1pt solid #ccc;

        input[type='button'] {
          width: 100%;
          border: 1px solid black;
          font-size: var(--form-input-font-size);
          padding: 8px;
          margin: 5px;

          &:not(:disabled) {
            background-color: var(--bc-blue);
            color: white;
          }
        }
      }
    }
  }

  .control {
    border-top: 1px solid #ccc;
    display: flex;
  }
}

@media only screen and (width < 800px) {
  #activity-form #photo-cont .control,
  #activity-form #photo-cont .photo-control {
    flex-flow: row wrap;
  }
}
