.userTrackingMarker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
.IAPPMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
.activityMarkerEl {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

#layerPickerElement {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: justify;
  top: 0;
  right: 0;
}

.MuiLayerPickerIconButton {
  color: black;
  margin: auto;
}

.layerPickerOpen {
  width: 500px;
  height: auto;
  background-color: white;
  z-index: 999;
}
.layerPickerClosed {
  width: 50px;
  height: 50px;
}

#layerPickerToggleOpen {
  top: 0;
  display: flex;
  right: 0;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  position: absolute;
}

.layerPickerLayer {
}

.layerPickerCategoryHeader {
  font-weight: 900;
}
.layerpickercustomizeMenu {
  height: 50px;
  width: auto;
}

#LoadingMap {
}

.loadingMap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  color: 'black';
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}
.loadedMap {
  display: none;
}
