.records__container {
  height: 100%;
  width: 100%;
}

.records_set {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-width: 1px;
  border-color: green;
  background-color: #fff;
  color: black;
  overflow: auto;
}

.record_sets_header_new_set_button {
  margin-left: auto;
}

.records_set_left_hand_items {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.records_set_name {
  height: 100%;
  font-size: small;
  overflow-y: hidden;

  /*  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.records_set_name_edit {
  padding-left: 5px;
  height: 50px;
}

.records_set_right_hand_items {
  height: 100%;
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: right;
  overflow: hidden hidden;
}

.record {
  height: 100px;
  width: 100%;
}

.records_activity {
  color: white;
}

.records__activity__header {
  /* same height as the apps header and footer */
  width: 100%;
  border-color: black;
  display: flex;
  justify-content: center;
}

.records__activity_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & > button {
    height: 20pt;
  }
}

.records__activity_buttons > * {
  flex-grow: 1;
}

.records__activity__photos_button {
  height: 5vh;
  border-color: black;
}

.records__activity__form_button {
  height: 5vh;
  border-color: black;
}

.records__activity__map_button {
  height: 5vh;
  border-color: black;
}
