#user-guide-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;

  h1 {
    font-size: 2.25rem;
    margin-top: 0;
    padding-top: 2.25rem;
  }
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 100%;

    .user-guide-section,
    .faq-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}

@media only screen and (width >= 768px) {
  #user-guide-page .content h1 {
    font-size: 3rem;
    padding-top: 3rem;
  }
}
