.delete-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: auto;

  button {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    /* Explicit to block iOS styling override */
    color: black;
    border-radius: 3px;
    background-color: #fff;
    padding: 5px 8px;

    span {
      text-transform: capitalize;
    }

    &:hover {
      cursor: pointer;
    }

    &:disabled:hover {
      cursor: not-allowed;
    }
  }
}
