name: app Android
on:
  workflow_dispatch: { }
  push:
    branches:
      - dev
      - mobile-android
jobs:
  build-android:
    runs-on: ubuntu-20.04
    env:
      EXPORT_DIR: ${{ 'export' }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install sharedAPI dependencies
        working-directory: ./sharedAPI
        run: |
          npm ci

      - name: Install app dependencies
        working-directory: ./app
        run: |
          npm ci

      - name: Run build
        working-directory: ./app
        env:
          NODE_OPTIONS: --max-old-space-size=6000
          REACT_APP_API_HOST: ${{ secrets.APPV2_REACT_APP_API_HOST }}
          PUBLIC_MAP_URL: ${{ secrets.APPV2_PUBLIC_MAP_URL }}
          IAPP_GEOJSON_URL: ${{ secrets.APPV2_IAPP_GEOJSON_URL }}
        run: |
          npm run build:android

      - name: Capacitor update
        run: npx cap update android
        working-directory: ./app

      - name: Capacitor copy
        run: npx cap copy android
        working-directory: ./app

      - name: Build For Release
        working-directory: ./app/android
        run: |
          ./gradlew bundleRelease

      - uses: actions/upload-artifact@v4
        with:
          name: Export App Bundle
          path: app/android/app/build/outputs/bundle/release/app-release.aab
          retention-days: 1
          if-no-files-found: error

