name: AppV2 IOS
on:
  workflow_dispatch: {}
jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: XCode version?
        run: |
          xcode-select -p

      - name: Install dependencies
        working-directory: ./appv2
        run: |
          npm install --legacy-peer-deps

      - name: Run build
        working-directory: ./appv2
        run: |
          npm run build-prod

      - name: Capacitor update
        run: npx cap update ios

      - name: Capacitor copy
        run: npx cap copy ios

