name: Linting Checks

on: [pull_request]

jobs:
  build:
    name: Lint App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "10"
      - name: Install app dependencies
        run: npm install
        working-directory: app
      - name: Run app linter
        run: CI=true npm run lint
        working-directory: app
      - name: Install api dependencies
        run: npm install
        working-directory: api
      - name: Run api linter
        run: CI=true npm run lint
        working-directory: api
