# Sanity Test of the InvasivesBC API
name: PostMan API Sanity Test
on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == false && github.base_ref == 'dev' }}

    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Newman
        run: npm install -g newman
      - name: RunTest
        working-directory: ./testing/integration/postman
        run: |
          devpl.json<<<"${{ secrets.POSTMAN_PW }}"
          newman run Invasives_API.postman_collection.json -e devpl.json
