table.activities {
  border-collapse: collapse;
  width: 95vw;
  font-family: monospace;
  font-size: 0.8em;

  tbody {
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #bbdcff;
    }
  }

  th {
    font-weight: normal;

    &.active {
      text-decoration: underline;
      font-weight: bold;
    }

    span.sort-direction {
      padding-right: 4px;
    }
  }
}

div.activities-detail {
  nav {
    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: start;
      background-color: #f9f9f9;
      padding: 1em 0;
      gap: 1.5em;

      li {
        outline: #1b6d85;
        display: inline-block;

      }

      a {
        display: inline-block;
        outline: #1b6d85;
        color: black;
        text-decoration: none;

        &.active {
          border-bottom: 2px solid black;
        }
        
        &.inactive {
          border-bottom: none;
        }
      }
    }
  }

  div.tab {
    &.inactive {
      display: none;
    }
  }
}

.warning {
  color: #b2102f;
}
